<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toryu.iims.integral.mapper.AiModelMapper">

    <select id="pageQuery" resultType="com.toryu.iims.integral.model.vo.llm.ModelVO">
        select * from iims_ai_chat_models
        <where>
            and is_deleted = 0
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

</mapper>