<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.aitenry.iims.integral.mapper.WikiCatalogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into iims_integral_wiki_catalog(id, wiki_id, doc_id, type, title, level, parent_id, sort, is_deleted,
                                               is_embedding, create_by, create_time, update_by, update_time)
        values (#{id}, #{wikiId}, #{docId}, #{type}, #{title}, #{level}, #{parentId}, #{sort}, #{isDeleted},
                #{isEmbedding}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <insert id="insertBatchSomeColumn" parameterType="java.util.List">
        INSERT INTO iims_integral_wiki_catalog (wiki_id, doc_id, type, title, level, parent_id, sort,
                                                is_deleted, is_embedding, create_by, create_time, update_by,
                                                update_time)
        VALUES
        <foreach item="item" index="index" collection="list" open="(" separator=")," close=")">
            #{item.wikiId}, #{item.docId}, #{item.type}, #{item.title}, #{item.level}, #{item.parentId}, #{item.sort},
            #{item.isDeleted}, #{item.isEmbedding}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}
        </foreach>
    </insert>

    <update id="deleteByWikiId">
        update iims_integral_wiki_catalog set is_deleted = #{isDeleted}, update_by = #{updateBy}, update_time = #{updateTime} where wiki_id = #{wikiId}
    </update>

    <select id="selectFirstArticleId">
        select * from iims_integral_wiki_catalog
        where wiki_id = #{wikiId} and level = 2 and doc_id IS NOT NULL
        order by id limit 1
    </select>

    <select id="selectByWikiId">
        select * from iims_integral_wiki_catalog where wiki_id = #{wikiId} and is_deleted = 0
    </select>

    <select id="countEmbedding">
        select COUNT(CASE WHEN is_embedding = 1 THEN 1 END) AS count,
               COUNT(*) AS total from iims_integral_wiki_catalog
               where wiki_id = #{wikiId} and level = 2 and is_deleted = 0
               and doc_id is not null and is_embedding is not null
    </select>

    <select id="selectByWikiIdAndArticleId">
        SELECT *
        FROM iims_integral_wiki_catalog
        WHERE wiki_id = #{wikiId}
          AND doc_id = #{docId}
        LIMIT 1;
    </select>

    <select id="selectPreArticle">
        SELECT *
        FROM iims_integral_wiki_catalog
        WHERE wiki_id = #{wikiId}
          AND doc_id IS NOT NULL
          AND id > #{catalogId}
        ORDER BY id
        LIMIT 1;
    </select>

    <select id="selectNextArticle">
        SELECT *
        FROM iims_integral_wiki_catalog
        WHERE wiki_id = #{wikiId}
        AND doc_id IS NOT NULL
        AND id &lt; #{catalogId}
        ORDER BY id DESC
        LIMIT 1;
    </select>

    <update id="updateIsEmbedding">
        UPDATE iims_integral_wiki_catalog
        SET is_embedding = #{isEmbedding}
        WHERE id IN
        <foreach collection='ids' item='id' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </update>

    <select id="selectWikiByDoc">
        SELECT * FROM iims_integral_wiki_catalog WHERE doc_id = #{docId} AND type = #{type} AND is_deleted = 0
    </select>

</mapper>