<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toryu.iims.integral.mapper.WikiCatalogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into iims_integral_wiki_catalog(id, wiki_id, doc_id, type, title, level, parent_id, sort, is_deleted,
                                               is_embedding, create_by, create_time, update_by, update_time)
        values (#{id}, #{wikiId}, #{docId}, #{type}, #{title}, #{level}, #{parentId}, #{sort}, #{isDeleted},
                #{isEmbedding}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <insert id="insertBatchSomeColumn" parameterType="java.util.List">
        INSERT INTO iims_integral_wiki_catalog (wiki_id, doc_id, type, title, level, parent_id, sort,
                                                is_deleted, is_embedding, create_by, create_time, update_by,
                                                update_time)
        VALUES
        <foreach item="item" index="index" collection="list" open="(" separator=")," close=")">
            #{item.wikiId}, #{item.docId}, #{item.type}, #{item.title}, #{item.level}, #{item.parentId}, #{item.sort},
            #{item.isDeleted}, #{item.isEmbedding}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime}
        </foreach>
    </insert>

    <update id="deleteByWikiId">
        update iims_integral_wiki_catalog set is_deleted = #{isDeleted}, update_by = #{updateBy}, update_time = #{updateTime} where wiki_id = #{wikiId}
    </update>

    <select id="selectFirstArticleId">
        select * from iims_integral_wiki_catalog
        where wiki_id = #{wikiId} and level = 2 and doc_id IS NOT NULL
        order by id limit 1
    </select>

</mapper>