<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toryu.iims.ai.chat.mapper.AiChatModelsMapper">

    <select id="pageQuery" resultType="com.toryu.iims.ai.chat.model.vo.ModelVO">
        select * from iims_ai_chat_models
        <where>
            and is_deleted = 0
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

    <select id="selectModelList" resultType="com.toryu.iims.ai.chat.model.vo.SelectModelVO">
        select * from iims_ai_chat_models where is_deleted = 0 and model_type != 0 order by type
    </select>

</mapper>